<footer class="footer-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="heading">
                    <h3>About us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctorsuscipit feugiat. Ut at pellentesque ante, sed conva llis arcu. Nullam facilisis,eros in eleifend luctus, odio ante sodalesaugue, eget lacinia lectus erat
                        et sem.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="heading">
                    <h3>Contact us</h3>
                    <div class="contact-text">
                        <p>Address: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> </p>
                        <p>Phone: <span>+01-232324-34354</span></p>
                        <p>Email: <span>abc@abc.com</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="heading">
                    <h3>OPENING HOURS</h3>
                    <div class="opening-text">
                        <p>Monday: Closed</p>
                        <p>Tue-Wed : 9:Am - 10PM</p>
                        <p>Thu-Fri : 9:Am - 10PM</p>
                        <p>Sat-Sun : 5:PM - 10PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>