<app-main-menu></app-main-menu>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content text-center">
                    <div class="success-img ">
                        <img src="../../assets/img/icons/icon_success 1.svg" alt="">
                    </div>
                    <div class="success-text">
                        <p class="success-heading">Yay! <br> Slot successful Booked</p>
                        <p>Your slot has been successfully booked, </p>
                    </div>
                    <div class="btn text-center">
                        <button class="btn-back" routerLink="/resturants">Back to Restaurant</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>