<app-main-menu></app-main-menu>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="filter-wrapper">
                    <div class="jacordian">
                        <div class="tab">
                            <input id="tab-one" type="checkbox" name="tabs" checked>
                            <label for="tab-one">Diatery</label>
                            <div class="tab-content">
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Vegetarian</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Vegan</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">No Red Meat</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Diabetic</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Coeliac  - No Gluten</span>
                                </label>
                            </div>
                        </div>
                        <div class="tab">
                            <input id="tab-two" type="checkbox" name="tabs" checked>
                            <label for="tab-two">Allergens</label>
                            <div class="tab-content">
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Gluten Free</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Egg Free</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Sugar Free</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">GMO Free</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Nut Free</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="checkbox-title">Dairy Free</span>
                                </label>
                            </div>
                        </div>
                        <div class="tab">
                            <input id="tab-three" type="checkbox" name="tabs" checked>
                            <label for="tab-three">Family Members</label>
                            <div class="tab-content">
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="family-member"><img src="../../assets/img/stuff-img-01.jpg" alt=""></span>
                                    <span class="family-member-name">Jane Doe</span>
                                    <span class="family-member-relation">(wife)</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="family-member"><img src="../../assets/img/stuff-img-01.jpg" alt=""></span>
                                    <span class="family-member-name">Jane Doe</span>
                                    <span class="family-member-relation">(Sone)</span>
                                </label>
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox">
                                    <svg class="checkbox__check" width="20" height="20">
                                      <polyline points="11 2 4 13 2 10"></polyline>
                                    </svg>
                                    <span class="family-member"><img src="../../assets/img/stuff-img-01.jpg" alt=""></span>
                                    <span class="family-member-name">Jane Doe</span>
                                    <span class="family-member-relation">(Daughter)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="search-wrapper">
                    <input class="search-input" type="text" name="search" placeholder="Enter your full address">
                    <span class="location"><img src="../../../assets/img/icons/location-icon.png" alt=""></span>
                    <button class="btn-search">Search</button>
                </div>
                <div class="resturant-wrapper">
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/single-resturant.png" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p routerLink="/resturants-detail">KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-2.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-3.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-4.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-5.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-7.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-7.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-8.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-9.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="single-resturant-wrapper">
                        <img src="../../assets/img/resturant-10.jpg" alt="" class="resturant-img">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="resturant-name">
                            <p>KFC</p>
                        </div>
                        <div class="resturant-desc">
                            <div class="first-row">
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/navigation-icon.svg" alt="" class="icon">
                                        <p>3.1 KM</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/chef-icon.svg" alt="" class="icon">
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="item-wrapper">
                                    <div class="item">
                                        <img src="../../assets/img/icons/time-icon.svg" alt="" class="icon">
                                        <p>30 min</p>
                                    </div>
                                    <div class="item">
                                        <img src="../../assets/img/icons/rating-icon.svg" alt="" class="icon">
                                        <p>4.0</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>