<app-main-menu></app-main-menu>
<section>
    <div class="login-wrapper">
        <div class="heading">
            <h1>Verify Email</h1>
            <p>Enter your email address so we will send you code to varify email</p>
        </div>
        <div class="login-form">
            <form action="">

                <div class="form-control">
                    <input type="email" name="email" id="email" placeholder="John@example.com">
                </div>

                <div class="form-control">
                    <button class="btn-login" routerLink="/email-verification">Send Code</button>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>