<section class="product style-2 padding-tb" style="background-image: url(../../assets/img/menu/product-2.jpg)">
    <div class="container">
        <div class="section-header pb-4">
            <img src="../../assets/img/menu/sc-img.png" alt="sc-img" class="header-img" />
            <!-- <h2>Checkout</h2> -->
            <!-- <span>Our Tasty Menu Today</span> -->
        </div>
        <div class=" container-fluid my-5 ">
            <div class="row justify-content-center ">
                <div class="col-xl-10">
                    <div class="card shadow-lg ">
                        <div class="row justify-content-around">
                            <div class="col-md-5 pt-3">
                                <div class="card border-0">
                                    <div class="card-body text-center">
                                        <img src="../../assets/img/icons/icon_success 1.svg" alt="">
                                        <h4>Verification Successful</h4>
                                        <p>You successfully verified. Click on Login Button to Login to your account.
                                        </p>
                                        <button class="btnContact" routerLink="/login">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>