/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

$primary:#00A9EC;
// ::ng-deep {
//     body {
//         color: #666666;
//         font-size: 15px;
//         font-family: 'Rubik', sans-serif;
//         line-height: 1.80857;
//     }
// }
html {
    scroll-behavior: smooth;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 52px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: $primary;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    font-size: 30px;
}