<section class="product style-2 padding-tb" style="background-image: url(../../assets/img/menu/product-2.jpg)">
    <div class="container">
        <div class="section-header">
            <img src="../../assets/img/menu/sc-img.png" alt="sc-img" class="header-img" />
            <h2>Restaurant Name</h2>
            <span>Our Tasty Menu Today</span>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                <h4>Family Members</h4>
                <div class="family-member-box">
                    <div class="row">
                        <div class="col-12 family-profile text-center">
                            <img class="family-member-img" src="../../assets/img/user-img.png" alt="">
                            <p class="family-member-name">Naveed Anjum <span class="organizer">(Host)</span></p>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 user-order">
                            <p>Status</p>
                            <p class="status-check">Confirmed</p>
                            <a href="" class="view-order">
                                <p>View Order <span><img src="../../assets/img/icons/arrow-left.svg" alt=""></span></p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="family-member-box">
                    <div class="row">
                        <div class="col-12 family-profile">
                            <img class="family-member-img" src="../../assets/img/user-img.png" alt="">
                            <p class="family-member-name">Naveed Anjum <span class="organizer">(Son)</span></p>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 user-order">
                            <p>Status</p>
                            <p class="status-check">Confirmed</p>
                            <a href="" class="view-order">
                                <p>View Order <span><img src="../../assets/img/icons/arrow-left.svg" alt=""></span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="family-member-box">
                    <div class="row">
                        <div class="col-12 family-profile">
                            <img class="family-member-img" src="../../assets/img/user-img.png" alt="">
                            <p class="family-member-name">Naveed Anjum <span class="organizer">(Grandson)</span></p>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 user-order">
                            <p>Status</p>
                            <p class="status-check">Confirmed</p>
                            <a href="" class="view-order">
                                <p>View Order <span><img src="../../assets/img/icons/arrow-left.svg" alt=""></span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Other Members</h4>

                <div class="family-member-box">
                    <div class="row">
                        <div class="col-12 family-profile">
                            <img class="family-member-img" src="../../assets/img/user-img.png" alt="">
                            <p class="family-member-name">Naveed Anjum <span class="organizer">(Host)</span></p>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 user-order">
                            <p>Status</p>
                            <p class="status-check">Confirmed</p>
                            <a href="" class="view-order">
                                <p>View Order <span><img src="../../assets/img/icons/arrow-left.svg" alt=""></span></p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="family-member-box">
                    <div class="row">
                        <div class="col-12 family-profile">
                            <img class="family-member-img" src="../../assets/img/user-img.png" alt="">
                            <p class="family-member-name">Naveed Anjum <span class="organizer">(Host)</span></p>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 user-order">
                            <p>Status</p>
                            <p class="status-check">Confirmed</p>
                            <a href="" class="view-order">
                                <p>View Order <span><img src="../../assets/img/icons/arrow-left.svg" alt=""></span></p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="family-member-box">
                    <div class="row">
                        <div class="col-12 family-profile">
                            <img class="family-member-img" src="../../assets/img/user-img.png" alt="">
                            <p class="family-member-name">Naveed Anjum <span class="organizer">(Host)</span></p>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 user-order">
                            <p>Status</p>
                            <p class="status-check">Confirmed</p>
                            <a href="" class="view-order">
                                <p>View Order <span><img src="../../assets/img/icons/arrow-left.svg" alt=""></span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <button class="btnContact" type="submit" [routerLink]="['/add-family']"
                    routerLinkActive="router-link-active">
                    Skip
                </button>
                <button class="btnContact" type="submit" [routerLink]="['/invite-friends']"
                    routerLinkActive="router-link-active">
                    <img src="../../assets/img/icons/User.svg" alt=""> Invite friends
                </button>
            </div>
        </div>


    </div>
</section>