<app-main-menu></app-main-menu>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding: 0;">
                <div class="head-bg">
                    <img src="../../assets/img/resturant-bg.png" alt="">
                    <div class="centered">Open Now</div>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="resturant-detail-wrapper">
                    <div class="resturant-name">
                        <h1>KFC</h1>
                    </div>
                    <div class="rating-menu">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>4.0/5(347)</span>
                        </div>
                        <div class="menu-list">
                            <ul>
                                <li>Pizza</li>
                                <li>Burger</li>
                                <li>Desserts</li>
                                <li>Fast Food</li>
                                <li>Pakistani</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="menu">
                        <p><a href="">Restautrant Information</a></p>
                        <p><a href="">Reviews</a></p>
                        <p><a href="">Book Slot</a></p>
                        <p><a href="">Menu</a></p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="menu-list">
                    <div class="tabset">
                        <!-- Tab 1 -->
                        <input type="radio" name="tabset" id="tab1" aria-controls="all" checked>
                        <label for="tab1" class="menu-label">Menu</label>
                        <!-- Tab 2 -->
                        <input type="radio" name="tabset" id="tab2" aria-controls="resturant-info">
                        <label for="tab2" class="menu-label">Restautrant Information</label>
                        <!-- Tab 3 -->
                        <input type="radio" name="tabset" id="tab3" aria-controls="reviews">
                        <label for="tab3" class="menu-label">Reviews</label>
                        <!-- Tab 4 -->
                        <input type="radio" name="tabset" id="tab4" aria-controls="bookslot">
                        <label for="tab4" class="menu-label">Book Slot</label>
                        <!-- Tab 5 -->
                        <!-- <input type="radio" name="tabset" id="tab5" aria-controls="drinks">
                        <label for="tab5">Drinks</label> -->

                        <div class="tab-panels">
                            <section id="all" class="tab-panel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main-menu-wrapper">
                                            <ul class="menu">
                                                <li><a href="" id="pizza">Pizza</a></li>
                                                <li><a href="#Burger">Burger</a></li>
                                                <li><a href="">Desserts</a></li>
                                                <li><a href="">Fast Food</a></li>
                                                <li><a href="">Pakistani</a></li>
                                            </ul>
                                            <div class="search-wrapper">
                                                <input type="text" name="search" id="search" placeholder="Search in menu">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <section id="pizza">
                                            <h1>Menu Item 1</h1>
                                            <div class="menu-1">
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-1.jpg" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-2.jpg" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-3.jpg" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-4.jpg" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </section>
                                        <section id="Burger">
                                            <h1>Menu Item 2</h1>
                                            <div class="menu-1">
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-5.jpg" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-10.png" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-11.png" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                                <div class="single-resturant-wrapper">
                                                    <img src="../../assets/img/menu/menu-img-12.png" alt="" class="resturant-img">
                                                    <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                    <div class="resturant-name">
                                                        <p>KFC</p>
                                                        <img src="../../assets/img/icons/add-cart.svg" alt="">
                                                    </div>
                                                    <div class="resturant-desc">
                                                        <div class="menu-name">Burger</div>
                                                        <div class="menu-price">$29</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-3">
                                        <h2 class="cart-item">Cart Items</h2>
                                        <div class="cart-wrapper">
                                            <div class="cart-heading">
                                                <h4>Your order from KFC</h4>
                                            </div>
                                            <!-- <div class="empty-cart">
                                                <img src="../../assets/img/icons/cart-item.svg" alt="">
                                                <p>Your Cart is empty</p>
                                                <button class="checkout">Go to Checkout</button>
                                            </div> -->
                                            <div class="cart-item-details">
                                                <div class="single-item-container">
                                                    <div class="item-container">
                                                        <p class="item-name">Burder</p>
                                                        <p class="relationship">Wife</p>
                                                        <p class="item-type">Gluten Free, Nut Free</p>
                                                    </div>
                                                    <div class="item-counter">
                                                        <img src="../../assets/img/icons/minus.svg" alt="" (click)="removeItem()">
                                                        <p>{{initialVal}}</p>
                                                        <img src="../../assets/img/icons/plus.svg" alt="" (click)="addItem()">
                                                        <p class="price">$12</p>
                                                    </div>
                                                </div>
                                                <div class="single-item-container">
                                                    <div class="item-container">
                                                        <p class="item-name">Burder</p>
                                                        <p class="relationship">Son</p>
                                                        <p class="item-type">Gluten Free, Nut Free</p>
                                                    </div>
                                                    <div class="item-counter">
                                                        <img src="../../assets/img/icons/minus.svg" alt="" (click)="removeItem()">
                                                        <p>{{initialVal}}</p>
                                                        <img src="../../assets/img/icons/plus.svg" alt="" (click)="addItem()">
                                                        <p class="price">$12</p>
                                                    </div>
                                                </div>
                                                <div class="single-item-container">
                                                    <div class="item-container">
                                                        <p class="item-name">Burder</p>
                                                        <p class="relationship">Daughter</p>
                                                        <p class="item-type">Gluten Free, Nut Free</p>
                                                    </div>
                                                    <div class="item-counter">
                                                        <img src="../../assets/img/icons/minus.svg" alt="" (click)="removeItem()">
                                                        <p>{{initialVal}}</p>
                                                        <img src="../../assets/img/icons/plus.svg" alt="" (click)="addItem()">
                                                        <p class="price">$12</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="total-wrapper">
                                                <div class="sub-total">
                                                    <p>Subtotal</p>
                                                    <p>$20</p>
                                                </div>
                                                <div class="service-fee">
                                                    <p>Serive Fee</p>
                                                    <p>$10</p>
                                                </div>
                                            </div>
                                            <div class="total">
                                                <p>Total</p>
                                                <p>$30</p>
                                            </div>
                                            <div class="checkout">
                                                <button routerLink="/checkout">Go to Checkout</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <section id="resturant-info" class="tab-panel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="resturantInfo-text-wrapper">
                                            <div class="heading">
                                                <h1>About KFC</h1>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam facilisis, eros in eleifend luctus, odio ante sodales augue,
                                                    eget lacinia lectus erat et sem.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="img-container">
                                            <img src="../../assets/img/about-resturant-img.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="opening-hour">
                                            <h1>OPENING HOURS</h1>
                                        </div>
                                        <div class="timing">
                                            <p>Monday: Closed</p>
                                            <p>Tue-Wed : 9:Am - 10PM</p>
                                            <p>Thu-Fri : 9:Am - 10PM</p>
                                            <p>Sat-Sun : 5:PM - 10PM</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-container-1">
                                            <img src="../../assets/img/about-resturant-img.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="resturantInfo-text-wrapper">
                                            <div class="chef-details">
                                                <h3 class="chef-heading">Chef</h3>
                                                <p class="chef-name">John Doe</p>
                                                <div class="chef-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>4.0 (23+ reviews)</span>
                                                </div>
                                                <div class="reviews">

                                                </div>
                                                <p class="chef-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam facilisis, eros in eleifend luctus, odio ante sodales augue,
                                                    eget lacinia lectus erat et sem.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="reviews" class="tab-panel">
                                <div class="reviews-heading">
                                    <h2>Restaurant Reviews</h2>
                                    <button>Add Review</button>
                                </div>
                                <div class="all-reviews">
                                    <div class="reviews-wrapper">
                                        <div class="reviews-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews-text">
                                            <p>Occaecat eu cillum minim consequat reprehenderit Lorem.</p>
                                        </div>
                                        <div class="reviewer-name">
                                            <p>- Martin</p>
                                        </div>
                                    </div>
                                    <div class="reviews-wrapper">
                                        <div class="reviews-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews-text">
                                            <p>Occaecat eu cillum minim consequat reprehenderit</p>
                                        </div>
                                        <div class="reviewer-name">
                                            <p>- Martin</p>
                                        </div>
                                    </div>
                                    <div class="reviews-wrapper">
                                        <div class="reviews-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews-text">
                                            <p>Occaecat eu cillum minim consequat reprehenderit</p>
                                        </div>
                                        <div class="reviewer-name">
                                            <p>- Martin</p>
                                        </div>
                                    </div>
                                    <div class="reviews-wrapper">
                                        <div class="reviews-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews-text">
                                            <p>Occaecat eu cillum minim consequat reprehenderit</p>
                                        </div>
                                        <div class="reviewer-name">
                                            <p>- Martin</p>
                                        </div>
                                    </div>
                                    <div class="reviews-wrapper">
                                        <div class="reviews-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews-text">
                                            <p>Occaecat eu cillum minim consequat reprehenderit</p>
                                        </div>
                                        <div class="reviewer-name">
                                            <p>- Martin</p>
                                        </div>
                                    </div>
                                    <div class="reviews-wrapper">
                                        <div class="reviews-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews-text">
                                            <p>Occaecat eu cillum minim consequat reprehenderit</p>
                                        </div>
                                        <div class="reviewer-name">
                                            <p>- Martin</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="bookslot" class="tab-panel">
                                <div class="pay-bill" *ngIf="currentStep === 2">
                                    <h3>Select how to Pay Bill</h3>
                                    <div class="booking-details">
                                        <div class="slot-booking">
                                            <p>Slot Booking</p>
                                        </div>
                                        <div class="persons">
                                            <p>03</p>
                                        </div>
                                        <div class="date">
                                            <img src="../../assets/img/icons/date-range.svg" alt="">
                                            <p>10 / 10 /2022</p>
                                        </div>
                                        <div class="time">
                                            <img src="../../assets/img/icons/time-range.svg" alt="">
                                            <p>07:30 - 08:30 PM</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="pay-bill" *ngIf="currentStep === 3">
                                    <h3>Select how to Pay Bill</h3>
                                    <div class="booking-details">
                                        <div class="slot-booking">
                                            <p>Slot Booking</p>
                                        </div>
                                        <div class="persons">
                                            <p>03</p>
                                        </div>
                                        <div class="date">
                                            <img src="../../assets/img/icons/date-range.svg" alt="">
                                            <p>10 / 10 /2022</p>
                                        </div>
                                        <div class="time">
                                            <img src="../../assets/img/icons/time-range.svg" alt="">
                                            <p>07:30 - 08:30 PM</p>
                                        </div>
                                    </div>
                                    <div class="booking-details-2">
                                        <div class="slot-booking">
                                            <p>How to Pay Bill</p>
                                        </div>
                                        <div class="persons ">
                                            <p>I am Ordering and paying</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="progressbar ">
                                    <li class="active "></li>
                                    <li [ngClass]="currentStep>= 2 ? 'active' : ''"></li>
                                    <li [ngClass]="currentStep >= 3 ? 'active' : ''"></li>
                                </ul>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="step1-container" *ngIf="currentStep === 1">
                                                <div class="step-1">
                                                    <div class="form-persons">
                                                        <input type="number" id="number" name="number" placeholder="How many persons">
                                                    </div>
                                                    <div class="form-date">
                                                        <input type="date" id="date" name="date">
                                                    </div>
                                                    <div class="form-startTime">
                                                        <input type="time" id="time" name="time" placeholder="Start at">
                                                    </div>
                                                    <div class="form-endTime">
                                                        <input type="time" id="time" name="time" placeholder="End at">
                                                    </div>
                                                    <div class="form-buttons">
                                                        <button class="back-btn">Back</button>
                                                        <button (click)="increment()" class="next-btn">Next</button>
                                                    </div>
                                                </div>
                                                <div class="step-1-img">
                                                    <img src="../../assets/img/book-slot-step-1.png" alt="">
                                                </div>
                                            </div>
                                            <div class="step2-container" *ngIf="currentStep === 2">
                                                <div class="step-2">
                                                    <div class="options-wrapper">
                                                        <div class="radiobtn">
                                                            <input type="radio" id="option1" name="step-2-radios" value="IamOrderingAndPaying" checked />
                                                            <label for="option1">I am Ordering and paying</label>
                                                        </div>
                                                    </div>
                                                    <div class="options-wrapper">
                                                        <div class="radiobtn">
                                                            <input type="radio" id="option2" name="step-2-radios" value="IndividualPayTheirOwn" />
                                                            <label for="option2">Individual will pay for their own orders</label>
                                                        </div>
                                                    </div>
                                                    <div class="options-wrapper">
                                                        <div class="radiobtn">
                                                            <input type="radio" id="option3" name="step-2-radios" value="IamPayingIndividualWillOrder" />
                                                            <label for="option3">I am paying and individual will order</label>
                                                        </div>
                                                    </div>
                                                    <div class="options-wrapper">
                                                        <div class="radiobtn">
                                                            <input type="radio" id="option4" name="step-2-radios" value="IamOrderingBillWillSplit" />
                                                            <label for="option4">I am ordering and bill will split equally</label>
                                                        </div>
                                                    </div>


                                                    <div class="form-buttons">
                                                        <button class="back-btn" (click)="decrement()">Back</button>
                                                        <button class="next-btn" (click)="increment()">Next</button>
                                                    </div>
                                                </div>
                                                <div class="step-2-img">
                                                    <img src="../../assets/img/book-slot-step-2.png" alt="">
                                                </div>
                                            </div>
                                            <div class="step3-container" *ngIf="currentStep === 3">
                                                <!-- 
                                                     
                                                    if the user is login then use the following block of code  
                                                
                                                -->
                                                <div class="step-3">
                                                    <div class="form-search">
                                                        <input type="text" id="search" name="search" placeholder="Search friend">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                    <div class="search-result">
                                                        <img src="../../assets/img/stuff-img-01.jpg" alt="" class="user-img">
                                                        <p class="user-name">User Name</p>
                                                        <input type="checkbox" class="plus-minus">
                                                    </div>
                                                    <div class="search-result">
                                                        <img src="../../assets/img/stuff-img-01.jpg" alt="" class="user-img">
                                                        <p class="user-name">User Name</p>
                                                        <input type="checkbox" class="plus-minus">
                                                    </div>
                                                    <div class="search-result">
                                                        <img src="../../assets/img/stuff-img-01.jpg" alt="" class="user-img">
                                                        <p class="user-name">User Name</p>
                                                        <input type="checkbox" class="plus-minus">
                                                    </div>
                                                    <div class="form-buttons">
                                                        <button class="back-btn" (click)="decrement()">Back</button>
                                                        <button class="next-btn" (click)="increment()">Next</button>
                                                    </div>
                                                </div>
                                                <div class="step-3-img">
                                                    <img src="../../assets/img/book-slot-step-3.png" alt="">
                                                </div>
                                                <!-- 
                                                    if the user is not login then un-comment the followiing block of code  
                                                
                                                -->

                                                <!-- <div class="logout-status" *ngIf="status === 'logout'">
                                                    <ul class="logout-text">
                                                        <li>For invite your friends please login or register</li>
                                                        <li>Skip for Individual</li>
                                                    </ul>
                                                    <div class="button-group">
                                                        <button class="btn-login-register" routerLink="/login">Login/Register</button>
                                                        <button class="btn-skip" (click)="skipToMenu()">Skip</button>
                                                    </div>
                                                </div> -->
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- POPUP MENU TO ADD ITEMS TO CART -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="../../assets/img/popup-img.jpg" alt="">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-wrapper">
                        <h2>Burger</h2>
                        <p>Comes with french fries, fresh beef and pork patty, bacon, red Leicester cheese, rocket salad, sweet red peppers, jalapenos, burger sauce</p>
                        <h3>Who is Eating? please select below options.</h3>
                    </div>
                    <div class="dropdown-wrapper">
                        <p>Select Allergens</p>
                        <select name="" id="">
                            <option selected>Select Partner</option>
                            <option value="">Partner 1</option>
                            <option value="">Partner 2</option>
                            <option value="">Partner 3</option>
                        </select>
                        <select name="" id="">
                            <option selected>Select Allergens</option>
                            <option value="">Allergens 1</option>
                            <option value="">Allergens 2</option>
                            <option value="">Allergens 3</option>
                        </select>
                        <select name="" id="">
                            <option selected>Select Deitary</option>
                            <option value="">Deitary 1</option>
                            <option value="">Deitary 2</option>
                            <option value="">Deitary 3</option>
                        </select>
                    </div>
                    <div class="radio-wrapper">
                        <p>Choose Your Fries Sauce</p>
                        <ul>
                            <li>
                                <input type="radio" id="Ketchup" name="selector">
                                <label for="Ketchup">Ketchup</label>

                                <div class="check"></div>
                            </li>

                            <li>
                                <input type="radio" id="Mayo" name="selector">
                                <label for="Mayo">Mayo</label>

                                <div class="check">
                                    <div class="inside"></div>
                                </div>
                            </li>

                            <li>
                                <input type="radio" id="GarlicMayo" name="selector">
                                <label for="GarlicMayo">Garlic Mayo</label>

                                <div class="check">
                                    <div class="inside"></div>
                                </div>
                            </li>
                            <li>
                                <input type="radio" id="BurgerSouce" name="selector">
                                <label for="BurgerSouce">Burger Souce</label>

                                <div class="check">
                                    <div class="inside"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="checkbox-wrapper">
                        <p>Preparation Addition</p>
                        <div class="check1">
                            <input type="checkbox" name="cb" id="Fries">
                            <label for="Fries">Fries</label>
                        </div>
                        <div class="check1">
                            <input type="checkbox" name="cb" id="Jalapenos">
                            <label for="Jalapenos">Jalapenos</label>
                        </div>
                        <div class="check1">
                            <input type="checkbox" name="cb" id="Bacon">
                            <label for="Bacon">Bacon</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="counter">
                        <img src="../../assets/img/icons/minus.svg" alt="" (click)="removeItem()">
                        <p class="items-count">{{initialVal}}</p>
                        <img src="../../assets/img/icons/plus.svg" alt="" (click)="addItem()">
                    </div>
                    <div class="checkout-btn">
                        <button>Add to Cart</button>
                    </div>
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>