<app-main-menu></app-main-menu>
<section>
    <div class="login-wrapper">
        <div class="heading">
            <h1>Sign up</h1>
            <p>Create an account in Easy Eat Out to get access</p>
        </div>
        <div class="login-form">
            <form action="">
                <div class="form-control">
                    <input type="text" name="text" id="text" placeholder="Name">
                </div>
                <div class="form-control">
                    <input type="email" name="email" id="email" placeholder="John@example.com">
                </div>
                <div class="form-control">
                    <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone">
                </div>
                <div class="form-control">
                    <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone">
                </div>
                <div class="form-control">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-control">
                    <input type="password" name="password" id="password" placeholder="Confirm Password">
                </div>
                <div class="form-control">
                    <button class="btn-login" routerLink="/verify-email">Sign up</button>
                </div>
            </form>
        </div>
        <div class="need">
            <p>Already have a Account <a routerLink="/login">Login</a> </p>
        </div>
    </div>
</section>
<app-footer></app-footer>