    /* FONTS */
    
    @import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44821');
    @import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44817');
    /* COLORS */
    
    $yellow-color: #FFD02E;
    $gray-color: #404040;
    $blue-color:#00A9EC;
    /* SCSS */
    
    .sidebar-container {
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgb(0 0 0 / 3%);
        height: 100vh;
        .profile-section {
            padding-bottom: 1.5rem;
            .user-profile {
                max-width: 100%;
                text-align: center;
                padding-top: 2rem;
                img {
                    width: 50%;
                    border-radius: 50%;
                }
            }
            .user-detail {
                text-align: center;
                h4 {
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: $gray-color;
                    margin: 0;
                }
                p {
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    margin: 0;
                }
            }
            &::after {
                content: "";
                display: inline-block;
                border-top: 0.1rem solid #E0E0E0;
                width: 19.8rem;
            }
        }
        .sidebar-menu {
            padding: 1rem;
            ul {
                .active {
                    color: $yellow-color;
                }
                li {
                    margin: 1.5rem;
                    cursor: pointer;
                    &:hover {
                        color: $yellow-color;
                    }
                    img {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    
    .content {
        display: flex;
        justify-content: space-evenly;
        padding-top: 3rem;
        .left-side-container {
            display: flex;
            flex-direction: column;
            .my-profile-card {
                background: #FFFFFF;
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
                border-radius: 8px;
                width: 742px;
                height: 429px;
                .heading {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    flex-wrap: wrap;
                    h3 {
                        margin: 0;
                        padding-left: 1rem;
                        font-family: 'Proxima Nova';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        color: $gray-color;
                    }
                    &::after {
                        content: "";
                        display: inline-block;
                        border-top: 0.1rem solid #E0E0E0;
                        width: 45rem;
                    }
                }
                .card-detail {
                    .form-container {
                        margin: 1rem 5rem;
                        h3 {
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            padding-left: 0.5rem;
                        }
                        input {
                            background: #FFFFFF;
                            border: 1px solid rgba(0, 169, 236, 0.44);
                            border-radius: 8px;
                            width: 98%;
                            padding: 0.5rem;
                            font-size: 15px;
                            outline: none;
                            margin: 0.5rem;
                        }
                    }
                    .form-button {
                        text-align: end;
                        padding-right: 0.5rem;
                        button {
                            border: 0;
                            color: white;
                            background: #FFD02E;
                            padding: 0.5rem 2rem;
                            border-radius: 5px;
                            width: 30%;
                        }
                    }
                }
            }
        }
        .right-side-container {
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgb(0 0 0 / 3%);
            border-radius: 8px;
            width: 25%;
            position: relative;
            padding: 1rem;
            .heading {
                display: flex;
                align-items: center;
                padding: 1rem;
                flex-wrap: wrap;
                h3 {
                    margin: 0;
                    font-family: "Proxima Nova";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: #404040;
                }
            }
            .card-wrapper {
                background: #FFFFFF;
                box-shadow: 0px 2px 20px rgb(0 169 236 / 10%);
                border-radius: 10px;
                margin-bottom: 1rem;
                .card-details {
                    padding: 1rem;
                    .bank {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3 {
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            color: $gray-color;
                        }
                    }
                    .card-number {
                        padding-top: 1.3rem;
                        p {
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            color: $gray-color;
                        }
                    }
                    .card-holder-details {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 1rem;
                        p {
                            margin: 0;
                        }
                        .card-holder-name {
                            p {
                                font-family: 'Proxima Nova';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                color: $gray-color;
                            }
                            .card-heading {
                                font-family: 'Proxima Nova';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 10px;
                            }
                        }
                        .card-expiry {
                            p {
                                font-family: 'Proxima Nova';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                color: $gray-color;
                            }
                            .card-heading {
                                font-family: 'Proxima Nova';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 10px;
                            }
                        }
                    }
                    .select-card {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h2 {
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            color: $gray-color;
                        }
                        .checkbox {
                            position: relative;
                            cursor: pointer;
                            appearance: none;
                            width: 50px;
                            height: 25px;
                            border-radius: 20px;
                            border: 2px solid #ccc;
                            outline: none;
                            transition: 0.3s;
                        }
                        .checkbox::before {
                            content: "";
                            position: absolute;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background: #ccc;
                            top: 3px;
                            left: 4px;
                            transition: 0.3s ease-in-out;
                        }
                        .checkbox:checked::before {
                            transform: translateX(25px);
                            background: $yellow-color;
                        }
                        .checkbox:checked {
                            border-color: $yellow-color;
                        }
                    }
                }
            }
        }
    }