<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="../../assets/img/user-profile-img.png" />
        <h2>User Name</h2>
        <p>Location</p>
        <button class="btn-edit" routerLink="/dashboard">Edit Profile</button>
    </header>
    <ul>
        <li tabindex="0" class="icon-dashboard" routerLink="/my-profile"><span>My Profile</span></li>
        <li tabindex="0" class="icon-customers" routerLink="/add-card"><span>Payment</span></li>
        <li tabindex="0" class="icon-settings"><span>Settings</span></li>
        <li tabindex="0" class="icon-allergence" routerLink="/allergence"><span>Allergens</span></li>
        <li tabindex="0" class="icon-dietary" routerLink="/dietary"><span>Dietary</span></li>
        <li tabindex="0" class="icon-privacy"><span>Privacy</span></li>
        <li tabindex="0" class="icon-help" routerLink="/help"><span>Help</span></li>
    </ul>
</nav>

<main>
    <section class="product style-2 padding-tb">
        <div class="container">
            <div class="row justify-content-center pt-5" style="padding-bottom: 7.5rem;">
                <div class="col-xl-7 pb-5 pt-5">
                    <div class="card shadow-lg ">
                        <div class="heading">
                            <div class="heading-text">
                                <img src="../../assets/img/icons/allergence.svg" alt="">
                                <p>Allergence</p>
                                <button>Save</button>
                            </div>
                        </div>
                        <div class="list">
                            <div class="list-item">
                                <img src="../../assets/img/icons/gulten.svg" alt="">
                                <p>Gluten Free</p>
                                <input type="checkbox" id="gluten" name="gluten">
                            </div>
                            <div class="list-item">
                                <img src="../../assets/img/icons/gulten.svg" alt="">
                                <p>Gluten Free</p>
                                <input type="checkbox" id="gluten" name="gluten">
                            </div>
                            <div class="list-item">
                                <img src="../../assets/img/icons/gulten.svg" alt="">
                                <p>Gluten Free</p>
                                <input type="checkbox" id="gluten" name="gluten">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>