<app-main-menu></app-main-menu>
<section>
    <div class="login-wrapper">
        <div class="heading">
            <h1>Forgot Password</h1>
            <p>Please enter your email address to change your password
            </p>
        </div>
        <div class="login-form">
            <form action="">

                <div class="form-control">
                    <input type="email" name="text" id="text" placeholder="example@domain.com">
                </div>

                <div class="form-control">
                    <button class="btn-login">Submit</button>
                </div>
            </form>
        </div>
        <div class="need">
            <p>Didn’t received link? <a routerLink="">Send Again</a> </p>
        </div>
    </div>
</section>
<app-footer></app-footer>