<app-top-bar></app-top-bar>
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content-wrapper">
                    <div class="welcome-message text-center">
                        <h3 class="welcome">Welcome</h3>
                        <h3 class="eeo">Easy Eat Out</h3>
                    </div>
                    <div class="underline text-center">
                        <img src="../../../assets/img/underline.png" alt="">
                    </div>
                    <div class="text-wrapper text-center">
                        <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                    </div>
                    <div class="search">
                        <div class="search-box">
                            <p>Enter your address to find local restaurants</p>
                            <div class="input-box">
                                <input class="search-input" type="text" name="search" placeholder="Enter your full address">
                                <span class="location"><img src="../../../assets/img/icons/location-icon.png" alt=""></span>
                                <button class="btn-search">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="righ-content-wrapper">
                    <div class="hero-background">
                        <img src="../../../assets/img/hero-bg.png" alt="">
                    </div>
                    <div class="hero-background-2">
                        <img src="../../../assets/img/hero-bg-2.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="menu-list">
    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="all">
        <label for="tab1">All</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="burger" checked>
        <label for="tab2">Burger</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="pizza">
        <label for="tab3">Pizza</label>
        <!-- Tab 4 -->
        <input type="radio" name="tabset" id="tab4" aria-controls="snaks">
        <label for="tab4">Snaks</label>
        <!-- Tab 5 -->
        <input type="radio" name="tabset" id="tab5" aria-controls="drinks">
        <label for="tab5">Drinks</label>

        <div class="tab-panels">
            <section id="all" class="tab-panel">
                <div class="all-menu-items">
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-2.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-3.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-4.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-5.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-6.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-7.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="burger" class="tab-panel">
                <div class="all-menu-items">
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-8.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-7.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-6.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-5.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-4.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-3.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-2.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Burger Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="pizza" class="tab-panel">
                <div class="all-menu-items">
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="snaks" class="tab-panel">
                <div class="all-menu-items">
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-3.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-2.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-1.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-2.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-3.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="drinks" class="tab-panel">
                <div class="all-menu-items">
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-4.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-5.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-6.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-7.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="img-container">
                            <img src="../../../assets/img/menu/menu-img-8.jpg" alt="">
                        </div>
                        <div class="rating-addto-cart">
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="name-price">
                            <h3>Pizza Menu</h3>
                            <p>$20</p>
                        </div>
                        <div class="food-desc">
                            <p>Lreiciendis ab dolorem aliquid ipsum voluptatum ea!</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</section>


<section class="download-app">
    <div class="container-fluid pb-6">
        <div class="content-wrapper">
            <div class="app-img">
                <img src="../../../assets/img/mobile-app.png" alt="">
            </div>
            <div class="text-wrapper">
                <div class="heading">
                    <h3>Download the food and groceries you love</h3>
                    <p>It's all at your fingertips – the restaurants and shops you love. Find the right food and groceries to suit your mood, and make the first bite last. Go ahead, download us.</p>
                    <div class="download-app-imgs">
                        <img src="../../../assets/img/gstore.png" alt="">
                        <img src="../../../assets/img/istore.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial">
    <div class="container pt-6 pb-6">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-wrapper">
                    <div class="left-side-container">
                        <div class="text-wrapper ">
                            <img src="../../../assets/img/icons/quote.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rem provident error et ab facere dolorum quod inventore porro voluptate minus quaerat, eveniet temporibus minima quis officiis quam reiciendis nesciunt.</p>
                            <p>Lore ipsum</p>
                        </div>
                        <div class="img-wrapper">
                            <img src="../../../assets/img/icons/left-arrow.png" alt="">
                            <img src="../../../assets/img/icons/right-arrow.png" alt="">
                        </div>
                    </div>
                    <div class="right-side-container ">
                        <div class="testimonial-img">
                            <img src="../../../assets/img/testimonial-img.jpg" alt="">
                            <div class="review">
                                <div class="name-price">
                                    <p>Burger</p>
                                    <p>$20</p>
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="review-name">
                                    <p>Suliman Munawar khan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>