/* FONTS */

@import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44821');
@import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44817');

/* COLORS */

$yellow-color: #FFD02E;
$gray-color: #404040;
$blue-color:#00A9EC;

/* SCSS */

.sidebar-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 3%);
    height: 100vh;
    .profile-section {
        padding-bottom: 1.5rem;
        .user-profile {
            max-width: 100%;
            text-align: center;
            padding-top: 2rem;
            img {
                width: 50%;
                border-radius: 50%;
            }
        }
        .user-detail {
            text-align: center;
            h4 {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                color: $gray-color;
                margin: 0;
            }
            p {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                margin: 0;
            }
        }
        &::after {
            content: "";
            display: inline-block;
            border-top: 0.1rem solid #E0E0E0;
            width: 19.8rem;
        }
    }
    .sidebar-menu {
        padding: 1rem;
        ul {
            .active {
                color: $yellow-color;
            }
            li {
                margin: 1.5rem;
                cursor: pointer;
                &:hover {
                    color: $yellow-color;
                }
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
}

.content {
    display: flex;
    padding-top: 3rem;
    padding-left: 2rem;
    .left-side-container {
        display: flex;
        flex-direction: column;
        .my-profile-card {
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
            border-radius: 8px;
            width: 742px;
            height: auto;
            .heading {
                display: flex;
                align-items: center;
                padding: 1rem;
                flex-wrap: wrap;
                h3 {
                    margin: 0;
                    padding-left: 1rem;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    color: $gray-color;
                }
                &::after {
                    content: "";
                    display: inline-block;
                    border-top: 0.1rem solid #E0E0E0;
                    width: 43rem;
                }
            }
            .list {
                .items {
                    transition: 0.8s ease-in-out;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 25px rgb(0 0 0 / 3%);
                    border-radius: 8px;
                    margin: 0.5rem 2rem;
                    display: flex;
                    align-items: center;
                    padding: 1rem 2rem;
                    p {
                        margin: 0;
                        font-family: 'Calibri';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        flex: 1;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                h3 {
                    padding: 0.2rem 2rem;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px
                }
            }
        }
    }
}