<app-main-menu></app-main-menu>
<section>
    <div class="login-wrapper">
        <div class="heading">
            <h1>Verify Mobile Number</h1>
            <p>Enter your mobile number so we will send you code to varify</p>
        </div>
        <div class="login-form">
            <form action="">

                <div class="form-control">
                    <input type="tel" name="tel" id="tel" placeholder="+92 300 99 55 270">
                </div>

                <div class="form-control">
                    <button class="btn-login" routerLink="/mobile-verification">Send Code</button>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>