@import url('http://fonts.cdnfonts.com/css/hunters');
@import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44821');
@import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44817');

/* Colors used in website */

$fb-btn: #4267B2;
$google-btn: #DB4437;
$apple-btn: #000000;
$blue-color: #00A9EC;
$yellow-color: #FFD02E;
$gray-color: #7B7B7B;

/*  */

.login-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin: 1rem 5rem;
    padding: 1rem;
    text-align: center;
    .heading {
        h1 {
            font-family: 'Hunters';
            font-style: normal;
            font-weight: 400;
            font-size: 144px;
            color: $blue-color;
        }
        p {
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 18px;
        }
    }
    .login-form {
        display: flex;
        justify-content: center;
        .form-control {
            width: 550px;
            border: 0;
            height: 60px;
            padding: 0rem 0rem 4rem 0;
            text-align: start;
            input {
                background: #FFFFFF;
                border: 1px solid rgba(0, 169, 236, 0.44);
                box-sizing: border-box;
                border-radius: 8px;
                width: 100%;
                height: 45px;
                outline: none;
                padding-left: 15px;
            }
            .btn-login {
                width: 100%;
                border: 0;
                border-radius: 8px;
                background: $yellow-color;
                height: 40px;
                color: white;
            }
        }
    }
    .need {
        padding-top: 1.5rem;
    }
}