<app-main-menu></app-main-menu>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content text-center">
                    <div class="success-img ">
                        <img src="../../assets/img/icons/error.png" alt="">
                    </div>
                    <div class="success-text">
                        <p class="success-heading">Ohhh! <br> Something went wrong </p>
                        <p>Please try again later</p>
                    </div>
                    <div class="btn text-center">
                        <button class="btn-back" routerLink="/resturants-detail">Try Again</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>