<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="../../assets/img/user-profile-img.png" />
        <h2>User Name</h2>
        <p>Location</p>
        <button class="btn-edit" routerLink="/dashboard">Edit Profile</button>
    </header>
    <ul>
        <li tabindex="0" class="icon-dashboard" routerLink="/my-profile"><span>My Profile</span></li>
        <li tabindex="0" class="icon-customers" routerLink="/add-card"><span>Payment</span></li>
        <li tabindex="0" class="icon-settings"><span>Settings</span></li>
        <li tabindex="0" class="icon-privacy"><span>Privacy</span></li>
        <li tabindex="0" class="icon-help" routerLink="/help"><span>Help</span></li>
    </ul>
</nav>

<main>
    <section class="product style-2 padding-tb">
        <div class="container">
            <div class="row justify-content-center pt-5" style="padding-bottom: 7.5rem;">
                <div class="col-xl-10 pb-5">
                    <div class="card shadow-lg ">
                        <div class="row justify-content-around">
                            <div class="col-md-7 pt-3">
                                <div class="card border-0">
                                    <div class="card-body text-center">
                                        <div class="error">
                                            <img src="../../assets/img/icons/error.png" alt="">
                                            <h4>Ohhh! No Card yet</h4>
                                            <p>You can add card by follwoing button</p>
                                            <button class="btn-card" routerLink="/add-card">Add Card</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>